* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/* Colors */
/* Green : #ABF62D  */
/* Purple : #D6A3FB */
/* Black: rgb(56, 54, 54) */

/* New Navbar Start */
.navbar {
  background-color:transparent;
  position: fixed;
  width: 100%;
  height: 100px;
  transition: all .2s ease;
}

.black {
  background-color: #000;
}

.navbar-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-search {
  border: 1px solid red;
}

.search-form-container {
  height: 100%;
}

.navbar-logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#square {
  width: 40px;
  height: 40px;
  background: white;
   transform: rotate(45deg);
}

.navbar-btn-link {
  color: #FFF;
}

.login {
  color: #000;
}

.navbar-buttons {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}




/* New Navbar End */

/* Navbar Start */
/* .navbar {
  background-color: #acf62d;
  background-color: rgb(129, 126, 126);
  background-color:#000;
  position: fixed;
  width: 100%;
  height: 100px;
} */

.navbar-brand {
  align-items: center;
  justify-content: center;
}

.navbar-brand-text {
  color: rgb(56, 54, 54);
  color: rgb(156, 153, 153);
  font-size: 55px;
  text-transform: uppercase;
  letter-spacing: -5px;
}

.purple-highlight-text {
  color: #d6a3fb;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar-btn {
  margin-left: 5px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .navbar-btn-link {
  color: rgb(56, 54, 54);
  transition: all 0.3s ease;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6.5px;
  padding-right: 6.5px;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: -.5px;
} */

.login {
  border: 1px solid yellow;
  font-size: 15px;
  background-color: yellow;
  border-radius: 50px;
  padding: 8px 15px 8px 15px;
  transition: all .3s ease;
}

.login:hover {
  background-color: rgb(255, 238, 0);
  color: #000;
}

/* .navbar-btn-link:hover {
  color: #d6a3fb;
  color: rgb(156, 153, 153);
} */

/* Navbar Search Start */
.navbar-search {
  width: 280px;
  padding-top: 10px;
  padding-bottom: 8px;
  border-radius: 40px;
  border-style: none;
  padding-left: 15px;
}

.search-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-search::-webkit-input-placeholder {
  color: rgb(156, 153, 153);
  text-transform: uppercase;
}

.navbar-search:focus {
  outline: none;
}

/* Navbar Search End */

/* Navbar End */

/* Footer Start */

/* Footer End */

.hero-container {
  height: 100vh;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  overflow: hidden;
}

.wrapper video {
  min-width: 100%;
  min-height: 80%;
  position: relative;
  z-index: 1;
}

.wrapper .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-image: linear-gradient(
    309deg,
    rgba(214, 163, 251, 0.6965161064425771) 32%,
    rgba(171, 246, 45, 0.7049194677871149) 86%
  );
  background-image: linear-gradient(
    309deg,
    rgba(129, 126, 126,0.6965161064425771) 12%,
    rgba(49, 48, 48, 0.7049194677871149) 36%
  );
}

.hero {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
}

.hero-container-text {
  width: 100%;
  height: 100%;
  border: 2px solid red;
  position: absolute;
  top: 0;
  left: 0;
}

.hero h2 {
  color: rgb(56, 54, 54);
  color: rgb(156, 153, 153);
  font-size: 110px;
}

.hero h3 {
  color: rgb(56, 54, 54);
  color: rgb(156, 153, 153);
  font-size: 30px;
  margin-top: -50px;
}

.hero h2,
.hero h3 {
  margin-left: 40px;
}

/* Home Page Box Section */
.box-section {
  display: flex;
  height: 75vh;
}

.left-box {
  height: 100%;
  width: 100%;
  background-color: #acf62d;
}

.box-section-image {
  height: 100%;
  width: 100%;
  background-size: cover !important;
  background-position: center;
}

.box-video {
  width: 150%;
  height: 100%;
  object-fit: cover;
}

.right-box {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.right-box .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-box .container h4 {
  font-size: 60px;
}

.right-box .container h3 {
  font-size: 35px;
}

.right-box .container p {
  font-size: 20px;
}

.button-spacing {
  margin-top: 25px;
}

/* Show Events Start */

.show-event-count {
    margin-bottom: 15px;
}

/* Custom Card Start */
.venue-wrapper {
  margin-top: 15px;
}

.venue-wrapper .venue-location,
.custom-date {
  color: rgb(160, 158, 158);
}

/* Customer Card End */

.white-text {
  color: #fff;
}

.venue-name {
  color: rgb(255, 238, 0);
}

/* Show Events End */

/* Show Event Start */

.container-main {
  max-width: 50%;
  width: 50%;
  float: left;
  height: 75vh;
  overflow-x: scroll;
  overflow-y: scroll; 
  overflow: scroll;
}

.edit-delete-button {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.container-main::-webkit-scrollbar {
  display: none;
}

.background_color {
  padding-top: 40px;
  background-color:rgb(231, 195, 229);
  background-image: linear-gradient(
    309deg,
    rgba(214, 163, 251, 0.6965161064425771) 32%,
    rgba(171, 246, 45, 0.7049194677871149) 86%
  );
  height: 100vh;
}

.dark-overlay {
  background-color:rgb(12, 12, 12);
  height: 100vh;
}

.background_color {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 800px;
  filter: blur(100px);
  opacity: .33;
  pointer-events: none;
}

.red-column {
  padding-top: 30px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;

}

.event-background-image {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 800px;
  filter: blur(100px);
  opacity: .33;
  pointer-events: none;
}

.red-column .show-event-custom-image {
  width: 350px;
  border-radius: 12px;
}

.blue-column {
  /* background-color: blue; */
  padding-top: 30px;
}

.blue-column h1 {
  font-size: 60px;
  color: rgb(255, 255, 255);
}

.blue-column h5 {
  color: rgb(255, 255, 255);
}

.custom-date-time {
  width: 190px;
  display: flex;
  justify-content: space-between;
}

div .custom-date-time p {
  color: rgb(244, 248, 0);
  font-size: 22px;
}

.about {
  margin-top: 110px;
}

.about h4 {
  font-size: 12px;
  color: rgb(255, 255, 255);
}

.blue-column h3 {
  color: rgb(255, 255, 255);
}

.blue-column p {
  color: rgb(255, 255, 255)
}

.venue {
  margin-top: 40px;
}

.venue h4 {
  color: rgb(255, 255, 255);
}

.category-location {
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.line {
    height: 1px;
    width: 100%;
    background-color:rgba(109, 109, 109, 0.603);
    margin-bottom: 40px;
}

/* .poppins {
    font-family: 'Poppins' !important;
    font-weight: 400;
    font-size: 16px !important;
} */

/* Show Event End */

/* Add Event Start */
.form-wrapper {
  background-color: rgb(129, 126, 126);
}
/* Add Event End */

/* Register Form Start  */
.register-container {
  background-color: rgb(129, 126, 126);
  height: 100vh;
}

.register-form-headline {
  font-size: 30px;
}
/* Register Form End */

/* See all of our events start */

/* 404 Error start */

h2.getting-events-error-header {
  font-size: 120px;
  color: #d6a3fb;
}
/* 404 Error end */

/* See all of our events end */

/* Search Page Start */
.search-element-container {
  display: flex;
  width: 1375px;
}

.text-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-placeholder::placeholder {
  color: #000;
}

.event-description {
  display: flex;
  flex-direction: column;
}

/* Search Page End */
